<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- main.css -->
    <link type="text/css" rel="stylesheet" th:href="@{/sys/main.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/sys/main.css"/>

</head>
<body>
main
<div id="mainDiv">
    <div id="u0">
        <div id="u0_div">

        </div>

    </div>
    <div id="个人网站">

    </div>
    <div id="我的项目">

    </div>
    <div id="个人博客">

    </div>
</div>
</body>
<script>
    window.onload = function () {

    }
</script>
</html>